.botoes {
    display: flex;
    flex-direction: row;
    width: 420px;
    height: 20px;
    padding: 5px;
}

.agrupamento {
    display: flex;
    flex-direction: row;
    width: 850px;
}

.grupo-despesa, .grupo-receita {
    width: 135px;
    height: 20px;
    margin-top: 10px;
}

#parte1 {
    width: 320px; 
    margin: 5px 0px;
}

.grupo-despesa select, .grupo-receita select {
    margin-top: 0;
    margin-bottom: 12.5px;
    text-align: center;
    width: 100%;
}

.aviso {
    width: 800px; 
    height: 300px; 
    background: grey; 
    position: absolute; 
    top: 10px; 
    left: 20px;
    text-align: center;
    padding-top: 190px;
}

@-moz-document url-prefix() {
    .grupo-despesa select, .grupo-receita select {
        margin-bottom: 10.3px;
    }

    #parte1 {
        width: 290px; 
    }
}